.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%; /* 必要に応じて調整 */
    opacity: 0.5; /* 画像の透明度を50%に設定 */
    height: 100px
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* テキストの色 */
    font-size: auto; /* 必要に応じて調整 */
}
